In [7]:
import requests
from bs4 import BeautifulSoup
import csv

base_url = "https://en.wikipedia.org/wiki/List_of_largest_technology_companies_by_revenue"
response = requests.get(base_url)
html_soup = BeautifulSoup(response.content, 'lxml')

tables = html_soup.find_all("table")

table = tables[1]
raw_trs = table.find_all("tr")
len(raw_trs)
clean_trs = raw_trs[0:22]
raw_columns, raw_rows = clean_trs[0], clean_trs[1:]

In [8]:
rows = [[td.text for td in row.find_all("td")] for row in raw_rows]

In [9]:
rows

[['1',
  '',
  'Apple Inc.\n',
  '30 September 2017[2]',
  '$229.2[1][3]',
  '123,000[3]',
  'Cupertino, California, US\n'],
 ['2',
  '',
  'Samsung Electronics\n',
  '31 December 2017[4]',
  '$211.9[1][5][6]',
  '320,670[7][8]',
  'Suwon, South Korea\n'],
 ['3',
  '',
  'Amazon\n',
  '31 December 2017[9][10]',
  '$177.9[1][10]',
  '613,300[11]',
  'Seattle, Washington, US\n'],
 ['4',
  '',
  'Foxconn\n',
  '31 December 2017[12][13]',
  '$154.7–158[1][13][14]',
  '803,126[15]',
  'New Taipei City, Taiwan\n'],
 ['5',
  '',
  'Alphabet Inc.\n',
  '31 December 2017[16][17]',
  '$110.8[1][17]',
  '80,110[18]',
  'Mountain View, California, US\n'],
 ['6',
  '',
  'Microsoft\n',
  '30 June 2017[19]',
  '$90.0[1]',
  '124,000[19]',
  'Redmond, Washington, US\n'],
 ['7',
  '',
  'Huawei\n',
  '31 December 2017[20][21]',
  '$89.3–92.5[1][21]',
  '180,000',
  'Shenzhen, China\n'],
 ['8',
  '',
  'Hitachi\n',
  '31 March 2018[22]',
  '$84.6[1]',
  '307,275',
  'Tokyo, Japan\n'],
 ['9',
  '',
  'IBM\n',
  '31 December 2017[23][24]',
  '$79.1[1]',
  '397,800',
  'Armonk, New York, US\n'],
 ['10',
  '',
  'Dell Technologies\n',
  '31 January 2018[25][26]',
  '$78.7[1][26]',
  '145,000[25]',
  'Round Rock, Texas, US\n'],
 ['11',
  '',
  'Sony\n',
  '31 March 2018[27]',
  '$77.1[1][28]',
  '117,300[27]',
  'Tokyo, Japan\n'],
 ['12',
  '',
  'Panasonic\n',
  '31 March 2018[29]',
  '$72.0[1]',
  '274,143',
  'Osaka, Japan\n'],
 ['13',
  '',
  'Intel\n',
  '31 December 2017[30]',
  '$62.8[1]',
  '102,700',
  'Santa Clara, California, US\n'],
 ['14',
  '',
  'LG Electronics\n',
  '31 December 2017[31]',
  '$54.3[1]',
  '74,000',
  'Seoul, South Korea\n'],
 ['15',
  '',
  'JD.com\n',
  '31 December 2017[32]',
  '$54.0[1]',
  '157,831',
  'Beijing, China\n'],
 ['16',
  '',
  'HP Inc.\n',
  '31 October 2017[33]',
  '$52.0[1]',
  '49,000',
  'Palo Alto, California, US\n']]

In [11]:
myFile = open('TOP_IT_Company.csv', 'w')
with myFile:
    writer = csv.writer(myFile)
    writer.writerow(['Rank','','Company','Fiscal Year Ending','Revenue $b USD','Employees','HeadQuaters'])
    writer.writerows(rows)
    
print("Writing complete")

Writing complete